body {
    background-color: pink;
}


#settings {
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

#calculator {
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.fontSizeSmall {
    font-size: 12px;
}

.fontSizeMedium {
    font-size: 20px;
}

.fontSizeLarge {
    font-size: 30px;
}

#textarea {
    font-size: 50px;
}
